<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80);">
  <h1>Listen to what your coach has to say</h1>
</div>

<div class="container">
  <div class="message question">
    <p>"<%= @question %>"</p>
    <p class="username"> - Arnaud</p>
  </div>
  <br>
  <div class="message answer">
    <p>"<%= @answer %>"</p>
    <p class="username"> - Your coach</p>
  </div>
  <p><%= link_to "Another question, coach!", ask_path, class: "link" %></p>
</div>
