<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80);">
  <h1>Ask a question to your coach</h1>
</div>

<div class="container-form">
  <form action="answer">
    <input type="text" name="question" class="question-box" placeholder="Enter your question here">
    <input type="submit" value="Ask!" class="button-submit">
  </form>
</div>
